<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="firefox"/>
    <add key ="Username" value="Amit"/>
    <add key ="password" value="chugh"/>
    <add key ="url" value="https://www.yatra.com/"/>
    <add key="Implicitwait" value= "60"/>   
  </appSettings>
</configuration>
